.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-img img {
  width: 350px;
  animation: floatImage 3s ease-in-out infinite;
  filter: drop-shadow(0px 0px 15px var(--main-color-hover));
  transition: .5s ease;
  border-radius: 200px;
}

.home-img img:hover {
  width: 380px;
  
  filter: drop-shadow(0px 0px 0px var(--main-color-hover));
}

@keyframes floatImage {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-2.4rem);
  }

  100% {
      transform: translateY(0);
  }
}

.home-content{
  margin-top: 80px;
}

.home-content h3 {
  font-size: 30px;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  background: var(--main-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 16px;
  max-width: 500px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 3px solid var(--main-color-hover);
  border-radius: 50%;
  font-size: 2rem;
  background: var(--main-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px 24px 30px 0;
  transition: .5s ease;
}

.social-media a:hover {
  background: var(--main-gradient-color);
  -webkit-text-fill-color: var(--second-bg-color);
  box-shadow: 0 0 10px var(--main-color);
  transition: .5s ease;
}

.btn {
  display: inline-block;
  padding: 0.9rem 2.4rem ;
  background: var(--main-gradient-color);
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color-hover);
  font-size: 14px;
  color: var(--second-text-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
  margin-bottom: 15px;
}

.btn:hover {
  box-shadow: none;
}

@media (max-width: 765px) {
  .home {
  flex-direction: column;
  transform: scale(1)
  translateY(-120px);
  }

  .home-content p {
    font-size: 16px;
  }

  .social-media a {
    width: 40px;
    height: 40px;
    font-size: 25px;

  }
  .home-content h3 {
    font-size: 18px;
  }

  .home-content h1 {
    font-size: 35px;
  }
  .btn{
    margin-bottom: 30px;
    transform: scale(0.8);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .home-img img {
    margin-top: 30px;
    width: 300px;
  }
}


@media (max-width: 365px) {

  .home-img img,
  .about-img img {
      width: 80vw;
  }
}