@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #f0f0f0;
    --second-bg-color: #d5d5d5;
    --text-color: #000000;
    --second-text-color: #ffffff;
    --main-color: #1b1b1b;
    --main-color-hover: #717171;
    --main-gradient-color: linear-gradient(90deg, rgb(71, 71, 71) 0%, rgb(120, 120, 120) 100%);
    --main-gradient-color-hover: linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(126, 126, 126) 100%);
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.Light_theme {
    --bg-color: #f0f0f0;
    --second-bg-color: #d5d5d5;
    --text-color: #000000;
    --second-text-color: #ffffff;
    --main-color: #1b1b1b;
    --main-color-hover: #717171;
    --main-gradient-color: linear-gradient(90deg, rgb(91, 91, 91) 0%, rgb(120, 120, 120) 100%);
    --main-gradient-color-hover: linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(126, 126, 126) 100%);
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.Dark_theme {
    --bg-color: #202020;
    --second-bg-color: #434343;
    --text-color: #ffffff;
    --second-text-color: #232323;
    --main-color: #c2c2c2;
    --main-color-hover: #d8d8d8;
    --main-gradient-color: linear-gradient(90deg, rgb(145, 145, 145) 0%, rgb(216, 216, 216) 100%);
    --main-gradient-color-hover: linear-gradient(90deg, rgb(197, 197, 197) 0%, rgb(173, 173, 173) 100%);
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.App {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
/*  */

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

