@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #241f2d;
    --second-bg-color: #41394e;
    --text-color: #fff;
    --main-color: #8800ff;
    --main-gradient-color: linear-gradient(90deg, rgb(150, 2, 255) 0%, rgb(58, 3, 255) 100%);
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.App {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
/*  */

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

