@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Syne", system-ui, Avenir, Helvetica, Arial, sans-serif, verdana, arial, helvetica,;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 468px) {
  :root {
    font-size: 80%;
  }
}